mixin company(name, location, designation, dates)
  .company
    .when.pull-right
      .text-muted= dates
      .text-muted= location
    h4.designation.light= designation
    strong.company-name.text-danger= name
    br
    if block
      block

mixin project(title, url, dates)
  dt
    a(href=url, target='_blank')= title
    span.text-muted - #{dates}
  if block
    block
