mixin education(course, college, specialization, location, score)
  .education
    h4.course.light #{course} in #{specialization}
    .institute
      strong= college
      strong= specialization
    i.fa.fa-trophy &nbsp;
    span Secured 
    strong #{score}&percnt; 
    if block
      block
